.signInContainer {
    background: linear-gradient(to right, #7f027e, #b84fb7);
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}